# Whats the weather like? 

As you get closer to the equator, we know that it gets hotter. Here is some data to prove the same by utilizing the simple Python library, the OpenWeatherMap API.

#### Import Dependencies

In [1]:
import requests
from pprint import pprint
from citipy import citipy
import matplotlib.pyplot as plt
import requests
from scipy import stats
import pandas as pd
import numpy as np

# config file with API key
from config import api_key

#### Save config information.

In [2]:
url = "http://api.openweathermap.org/data/2.5/weather?units=imperial&q="

#### Build partial query URL

In [3]:
# query_url = f"{url}appid={api_key}&units={units}&q="
# print(query_url)

#### Range of latitudes and longitudes

In [4]:
lat_range = (-90, 90)
lng_range = (-180, 180)

#### set up lists to hold reponse info

In [5]:
lat_lng = []
cities = []
countries = []

##### Create a set of random latitutude and longitude combinations

In [6]:
lat = np.random.uniform(low=-90.000, high=90.000, size=1500)
lng = np.random.uniform(low=-180.000, high=180.00, size=1500)
lat_lng = zip(lat, lng)

##### Identify nearest city for each latitude, longitude combination

In [7]:
for lat_lng in lat_lng:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    country = citipy.nearest_city(lat_lng[0], lat_lng[1]).country_code
    
    # If the city is unique, then add it to a our cities list
    
    if city not in cities:
        cities.append(city)
        countries.append(country.upper())

##### Print the city count

In [8]:
print(len(cities))

615

##### Print the country count

In [9]:
print(len(countries))

615

In [10]:
#Create a dataframe to store the data
weather_data = pd.DataFrame({'City': cities, 'Country': countries, 'Cloudiness': "", 'Humidity': "", 'Latitude': "", 'Longitude': "", 'Max Temp': "", 'Windspeed': ""})

#Preview the dataframe
weather_data.head()

,City,Country,Cloudiness,Humidity,Latitude,Longitude,Max Temp,Windspeed
0,montrose,US,,,,,,
1,vila velha,BR,,,,,,
2,calama,CL,,,,,,
3,boa vista,BR,,,,,,
4,kloulklubed,PW,,,,,,

##### Variables to keep track of response number

In [15]:
count_num = 1
count_set = 1